/__pycache__
DOWNLOADS
virtualenv
venv
ERROS
pesquisa_stf_package
pesquisa_stj_package
pesquisa_tst_package
base
bin
testopenai.py
tests.py
.streamlit/secrets.toml
.env
.gitignore
envs.py
.streamlit
extracao.zip
trash.json
tests2.py
.vscode/launch.json
